body{
  padding-top: 15px;
  padding-bottom: 50px;
  background-color:#0D0000;
  position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    
    
    
}

.fw-bolder{
  margin-bottom: 25px;
}



