footer {
	background-color:#fdfcfc;
  height: 100px;
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  padding: 15px;
  position: fixed;
}

.main1 { 
  display:flex;
  margin:0 auto;
}

a img:hover {
    color: #000000;
}

.text {

    -moz-text-decoration-color: #000000;
}