<header class="bg-white py-5">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-black mb-2">Grupo PB</h1>
          <p class="lead fw-normal text-black-50 mb-4">Bienvenido al direcctorio de grupo PB si es la primera vez que nos visitas 
            porfavor registrare
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
            <a class="btn btn-danger btn-lg px-4 me-sm-3" routerLink="/sign-up">Registrate</a>
          
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
          src="../../../assets/img/logoGrupooPb.png" alt="..."></div>
    </div>
  </div>
    <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  
    <!-- Grid row -->

 
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="https://mdbootstrap.com/">Grupo PB</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

