<br><br>

<div class="container">
<h3>Lista de contactos</h3>
<br>
<button  *ngIf="role ==='ADMIN'" type="button" class="btn btn-primary" (clic)="nuevoUsuario" >Nuevo Contacto </button>
<br><br>
<table class="table table-hover" >
	<thead>
	  <tr>
		<th scope="col">#</th>
		<th scope="col">Nombre</th>
		<th scope="col">Apellido</th>
		<th scope="col">Correo</th>
		<th scope="col">Puesto</th>
		<th scope="col">Celular Corporativo</th>
		<th scope="col">Extencion</th>
		<th scope="col">Sucursal</th>
		<th scope="col">Departamento</th>
		<th scope="col">Pais</th>
		<th scope="col" *ngIf="role === 'ADMIN'"> Opciones </th>
	  </tr>
	</thead>
	<tbody>
	  <tr  *ngFor="let us of usuarioModelGet" (click)="SetID(us._id)  " >
		<th scope="row"></th>
		<td>{{us.nombre}}</td>
		<td>{{us.apellido}}</td>
		<td>{{us.email}}</td>
		<td>{{us.puesto}}</td>
		<td>{{us.celular_Corporativo}}</td>
		<td>{{us.extencion}}</td>
		<td>{{us.sucursal}}</td>
		<td>{{us.departamento}}</td>
		<td>{{us.pais}}</td>
		<td *ngIf="role === 'ADMIN'">
			<div  class="card-footer p-4 pt-0 bg-transparent border-top-0">
				<div class="d-flex align-items-end justify-content-between">
					<button type="button" class="btn btn-warning" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" (click)="getUsuarioId(us._id)">Editar</button>
					<button type="button" class="btn btn-danger" (click)="deleteUser(us._id)">Eliminar</button>
				</div>
			</div>
		</td>
	  </tr>
	  
	</tbody>
  </table>

   <!-- "OffCanvas" Editar Evento -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Editar Contacto</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form>
                <div class="mg-3">
                    <label for="inputNombre" class="form-label">Nombre </label>
                    <input type="text" id="inputNombre" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="usuarioModelGetId.nombre">
                </div>
                <div class="mg-3">
                    <label for="inputHora" class="form-label">Apellido</label>
                    <input type="text" id="inputHora" class="form-control" name="apellido" #apellido="ngModel" [(ngModel)]="usuarioModelGetId.apellido">
                </div>
                <div class=" mg-3 ">
                    <label for="inputFecha" class="form-label ">Correo</label>
                    <input type="text " id="inputFecha" class="form-control " name="email" #email="ngModel" [(ngModel)]="usuarioModelGetId.email">
                </div>
				<div class=" mg-3 ">
                    <label for="inputFecha" class="form-label ">Extencion</label>
                    <input type="text " id="inputFecha" class="form-control " name="extencion" #extencion="ngModel" [(ngModel)]="usuarioModelGetId.extencion">
                </div>
				<div class=" mg-3 ">
                    <label for="inputFecha" class="form-label ">Pais</label>
                    <input type="text " id="inputFecha" class="form-control " name="pais" #pais="ngModel" [(ngModel)]="usuarioModelGetId.pais">
                </div>
				<div class=" mg-3 ">
                    <label for="inputFecha" class="form-label ">Puesto</label>
                    <input type="text " id="inputFecha" class="form-control " name="puesto" #puesto="ngModel" [(ngModel)]="usuarioModelGetId.puesto">
                </div>
				<div class=" mg-3 ">
                    <label for="inputFecha" class="form-label ">Departamento</label>
                    <input type="text " id="inputFecha" class="form-control " name="departamento" #departamento="ngModel" [(ngModel)]="usuarioModelGetId.departamento">
                </div>
				<div class=" mg-3 ">
                    <label for="inputFecha" class="form-label ">Celular Corporativo</label>
                    <input type="text " id="inputFecha" class="form-control " name="extencion" #celular_Corporativo="ngModel" [(ngModel)]="usuarioModelGetId.celular_Corporativo">
                </div>
				<div class=" mg-3 ">
                    <label for="inputFecha" class="form-label ">Sucursal</label>
                    <input type="text " id="inputFecha" class="form-control " name="extencion" #sucursal="ngModel" [(ngModel)]="usuarioModelGetId.sucursal">
                </div>
    
                <button *appRecarga="" type="submit" class="btn btn-success" (click)="putUser()"  data-bs-dismiss="offcanvas">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>