<div class="header-inner bg-dark">
    <div class="container-fluid px-lg-5">
        <nav class="navbar navbar-expand-lg my-navbar">
            <a class="navbar-brand" routerLink="home">
                <span class="logo">
         
          Directorio</span>
           </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars" style="margin:5px 0px 0px 0px;"></i></span>
  </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="home">Inicio</a>
                    </li>
                  <li *ngIf="role === 'ADMIN'" class="nav-item">
                    <a class="nav-link" routerLink="usuarios">Ver Contactos</a>
                </li>
                <li *ngIf="role === 'Usuario'" class="nav-item">
                  <a class="nav-link" routerLink="usuarios">Ver Contactos</a>
              </li>
                               
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <button *ngIf="role ==='Gerente'" class="btn" routerLink="/admin">Administrar Hotel</button>
                    <button *ngIf="!isAuthenticated" class="btn" routerLink="sign-up">Registrarse</button>
                    <button *ngIf="!isAuthenticated" class="btn" routerLink="sign-in">Iniciar Sesion</button>
                    <button *ngIf="isAuthenticated" class="btn" routerLink="sign-in" (click)="VaciarToken()">Cerrar Sesión</button>

                </form>
            </div>
        </nav>

    </div>
</div>