
<div class="row gx-5 justify-content-center">
    <div class="col-lg-8 col-xl-6">
        <div class="text-center">
            <h1>Reservación</h1>
        </div>
    </div>
    <div class="row gx-5 justify-content-center">
  <div>
    <div class="text-center">
    <h2>Reserva</h2>
  </div>
  </div>
  </div>
  <div class="container px-5 my-5">
  <table class="container">
    <thead>
      <tr>
        <th><h1>Numero Días</h1></th>
        <th><h1>Id habitación</h1></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hab of reservacionModelGetIdH">
        <td>Días:  {{ hab.numeroDias }}</td>
        <td>ID: {{ hab.idHabitacion }}</td>
      </tr>
    </tbody>

    </table>